#web_bg {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

#toggle-sidebar {
  bottom: 80px
}

/*字体颜色*/
#footer-wrap {
  color: #135b8b;
}
#footer-wrap a {
    color: #5c0404;
}


/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
 
::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}
 
::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}
 
::-webkit-scrollbar-corner {
  background-color: transparent;
}
 
::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}


/* 鼠标图标 */
body {
    background: rgba(255, 255, 255, .5);
<<<<<<< HEAD
    cursor: url(https://cdn.wlhhlc.top/Jkll8I.png), auto;
=======
    cursor: url(http://cdn.wlhhlc.top/Jkll8I.png), auto;
>>>>>>> first
    margin: 0;
	font-size: 15px;
}
a:hover{
    text-decoration: none;
<<<<<<< HEAD
    cursor: url(https://cdn.wlhhlc.top/JkuClT.png), auto;
=======
    cursor: url(http://cdn.wlhhlc.top/JkuClT.png), auto;
>>>>>>> first
}


#veditor {
<<<<<<< HEAD
    background-image: url(https://cdn.wlhhlc.top/20200409110727.webp);
=======
    background-image: url(http://cdn.wlhhlc.top/20200409110727.webp);
>>>>>>> first
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(255, 255, 255, 0);
    resize: vertical
}
