#web_bg {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

#toggle-sidebar {
  bottom: 80px
}

/*字体颜色*/
#footer-wrap {
  color: #135b8b;
}
#footer-wrap a {
    color: #5c0404;
}

[data-theme=light] {
	--card-bg: rgba(255,255,255,.5);
}


/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
 
::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}
 
::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}
 
::-webkit-scrollbar-corner {
  background-color: transparent;
}
 
::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}


/* 鼠标图标 */

body {
    cursor: url(https://cdn.jsdelivr.net/gh/dota-st/blog_file@master/huaji1.jpg), auto;
	font-size: 16px;
}


/*a标签*/

a:hover {
    cursor: url(https://cdn.jsdelivr.net/gh/dota-st/blog_file@master/huaji2.jpg), auto;
}


/*按钮*/

button:hover {
    cursor: url(https://cdn.jsdelivr.net/gh/dota-st/blog_file@master/huaji2.jpg), auto;
}


/*i标签*/

i:hover {
    cursor: url(https://cdn.jsdelivr.net/gh/dota-st/blog_file@master/huaji2.jpg), auto;
}


/*页脚a标签*/

#footer-wrap a:hover {
    text-decoration: none;
    cursor: url(https://cdn.jsdelivr.net/gh/dota-st/blog_file@master/huaji2.jpg), auto;
}


/*分页器*/

#pagination .page-number:hover {
    cursor: url(https://cdn.jsdelivr.net/gh/dota-st/blog_file@master/huaji2.jpg), auto;
}


/*头部的导航栏*/

#nav .site-page:hover {
    cursor: url(https://cdn.jsdelivr.net/gh/dota-st/blog_file@master/huaji2.jpg), auto;
}



#veditor {
<<<<<<< HEAD
    background-image: url(https://cdn.jsdelivr.net/gh/dota-st/blog_file/20200409110727.webp);
=======
    background-image: url(https://cdn.jsdelivr.net/gh/dota-st/blog_file/20200409110727.webp);
>>>>>>> first
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(255, 255, 255, 0);
    resize: vertical
}

#APlayer吸底标签自动缩入
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
	left:0px !important
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
	left:-66px !important
}